<div class=" well">
    <div class="row">
        <div class="text-center">
            <h2>{{main.Character.Name}}</h2> by {{main.Character.PlayerName}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div>
                <label>Race</label> {{main.Character.Race}}
            </div>
            <div class="">
                <label>Class</label> <span ng-repeat="class in main.Character.Classes">{{class.Level + ' ' + class.ClassName + ' / ' }}</span>
            </div>
            <div>
                <label>Level</label> {{main.Character.TotalLevel}}
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div>
                <label>AC</label>
                {{main.Character.AC}}
            </div>
            <div>
                <label>Initiative</label>
                {{(main.Character.Stats[1].Attribute - 10) / 2}}
            </div>
            <div>
                <label>Speed</label>
                {{main.Character.Speed}}
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <div class="">
                <label>Current HP</label> {{main.Character.CurrentHP}}
            </div>
            <div class="">
	      		<label>Max HP</label> {{main.Character.MaximumHP}}
	    	</div>
            <div class="">
                <label>Proficiency</label> {{main.Character.ProficiencyBonus}}
            </div>
        </div>
    </div>
</div>
<div class="well">
    <div class="row">
      <div class="col-sm-2 form-group text-center" ng-repeat="stat in main.Character.Stats">
        <label>{{stat.Name}}</label>
		<input ng-model="stat.Attribute" class="form-control text-center" disabled/>
		<label>Modifier</label>
		<span class="badge">{{(stat.Attribute - 10) / 2}}</span>
		<label>Proficient</label>
		<input type="checkbox" ng-model="stat.Proficient" disabled />
      </div>
    </div>
</div> 
<div class="well">
	<div class="row">
		<div class="col-sm-4" ng-repeat="skill in main.Character.Skills">
			<input type="checkbox" ng-model="skill.Proficient" disabled />
			<span ng-if="skill.Proficient">{{main.Character.ProficiencyBonus + (main.Character.Stats[skill.StatIndex].Attribute - 10) / 2}}</span>
			<span ng-if="!skill.Proficient">{{(main.Character.Stats[skill.StatIndex].Attribute - 10) / 2}}</span>
			<label>{{skill.Name}}</label>
	  	</div> 
	</div>
</div>

</div>
</div>
<div class="well">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Atk</th>
					<th>Dmg</th>
					<th>Type</th>
					<th>Range</th>
					<th>Properties</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="weapon in main.Character.Weapons track by $index">
					<td>{{weapon.Name}}</td>
					<td>{{weapon.Bonus + ((main.Character.Stats[weapon.StatIndex].Attribute - 10) / 2) + main.Character.ProficiencyBonus}}</td>
					<td>{{weapon.Damage}} + {{weapon.Bonus + ((main.Character.Stats[weapon.StatIndex].Attribute - 10)/2)}}</td>
					<td>{{weapon.DamageType}}</td>
					<td>{{weapon.Range}}</td>
					<td>{{weapon.Properties}}</td>
				</tr>
			</tbody>
		</table>
	
	</div>
</div>
